# Ігнорування системних файлів
.DS_Store
Thumbs.db

# Ігнорування середовищ
env/
venv/
__pycache__/
*.pyc

# Ігнорування великих файлів
*.png
*.jpg
*.mp4
models/*.pth


# Ігнорування IDE-шного
.idea/
.vscode/
